<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/plugins/css/kaiadmin.min.css}">
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.min.css}">
    <link rel="stylesheet" th:href="@{/css/global.css}">
    <link rel="stylesheet" th:href="@{/webjars/toastify-js/src/toastify.css}">
    <link rel="stylesheet" th:href="@{/css/custom-toggle-theme/demo.css}">
    <link rel="icon" th:href="@{/assets/image/favicon.ico}" type="image/x-icon">
    <title>Quản lý trưởng môn - Tham gia phòng thi</title>
</head>
<body>
<div class="wrapper">
    <div th:insert="~{fragment/sidebar/sidebar-head-subject :: sidebar-head-subject}"></div>
    <div class="main-panel">
        <div class="main-header">
            <div th:insert="~{fragment/header/common-header :: common-header}"></div>
        </div>
        <div class="container">

        </div>
    </div>
    <div th:insert="~{fragment/custom-toggle-theme/toggle-theme :: toggle-theme}"></div>
</div>
<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/plugins/js/jquery-scrollbar/jquery.scrollbar.min.js}"></script>
<script th:src="@{/plugins/js/jquery.sparkline/jquery.sparkline.min.js}"></script>
<script th:src="@{/plugins/js/kaiadmin/kaiadmin.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/js/sidebar-track.js}"></script>
<script th:src="@{/webjars/js-cookie/js.cookie.js}"></script>
<script th:src="@{/js/constants.js}"></script>
<script th:src="@{/webjars/toastify-js/src/toastify.js}"></script>
<script th:src="@{/js/utils.js}"></script>
<script th:src="@{/js/toast-custom.js}"></script>
<script th:src="@{/plugins/js/sweetalert/sweetalert.min.js}"></script>
<script th:src="@{/js/custom-toggle-theme/setting-demo.js}"></script>
<script th:src="@{/js/user-info-handler.js}"></script>

</body>
</html>