canvas {
    display: block;
    margin: 0 auto;
}
#pdf-viewer {
    border: 1px solid #999;
    width: 100%;
    height: 700px;
    overflow: auto;
    border-radius: 10px;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

#pdf-viewer::-webkit-scrollbar {
    display: none;  /* Safari and Chrome */
}

#pdf-viewer-detail {
    border: 1px solid #999;
    width: 100%;
    height: 750px;
    overflow: auto;
    border-radius: 10px;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

#pdf-viewer-detail::-webkit-scrollbar {
    display: none;  /* Safari and Chrome */
}

.value-label {
    position: absolute;
    top: -30px;
    left: 0;
    transform: translateX(-15%);
    padding: 2px 5px;
    border-radius: 3px;
    background-color: #007bff;
    color: #fff;
    font-size: 15px;
    border: 1px solid #007bff;
}
.range-container {
    position: relative;
    width: 100%;
}