<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/plugins/css/kaiadmin.min.css}">
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.min.css}">
    <link rel="stylesheet" th:href="@{/css/global.css}">
    <link rel="stylesheet" th:href="@{/webjars/toastify-js/src/toastify.css}">
    <link rel="icon" th:href="@{/assets/image/favicon.ico}" type="image/x-icon">
    <link rel="stylesheet" th:href="@{/css/custom-toggle-theme/demo.css}">
    <link rel="stylesheet" th:href="@{/css/manage-student/choose-exam-type/choose-exam-type.css}">
    <link rel="icon" th:href="@{/assets/image/favicon.ico}" type="image/x-icon">
    <title>Student - Trang chủ</title>
</head>
<body>
<div class="main-header">
    <div th:insert="~{fragment/header/common-header-student :: common-header-student}"></div>
</div>
<section class="d-flex custom-gap">
    <a href="/student/practice-room" class="image-permission d-flex flex-column align-items-center text-center">
        <img class="img-fluid mb-3" style="width: 200px; height: auto; transition: transform 0.3s ease 0s;"
             th:src="@{/assets/image/BanDaoTao.png}" alt="Ảnh Giảng viên"/>
        <button type="button" class="btn btn-primary px-3 mt-3">
            <div class="d-flex align-items-center">
                <i class="fs-4 fa-solid fa-user"></i>
                <span class="fs-4 ms-2">Phòng thi thử</span>
            </div>
        </button>
    </a>
    <a href="/student" class="image-permission d-flex flex-column align-items-center text-center">
        <img class="img-fluid mb-3" style="width: 200px; height: auto; transition: transform 0.3s ease 0s;"
             th:src="@{/assets/image/TM_CNBM.png}" alt="Ảnh Sinh Viên"/>
        <button type="button" class="btn btn-custom btn-primary px-3 mt-3">
            <div class="d-flex align-items-center">
                <i class="fs-4 fa-solid fa-user"></i>
                <span class="fs-4 ms-2">Phòng thi thật</span>
            </div>
        </button>
    </a>
</section>

<!-- The toggle theme button -->
<div th:insert="~{fragment/custom-toggle-theme/toggle-theme :: toggle-theme}"></div>
<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/plugins/js/jquery-scrollbar/jquery.scrollbar.min.js}"></script>
<script th:src="@{/plugins/js/jquery.sparkline/jquery.sparkline.min.js}"></script>
<script th:src="@{/plugins/js/kaiadmin/kaiadmin.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/webjars/sockjs-client/1.5.1/sockjs.min.js}"></script>
<script th:src="@{/webjars/stomp-websocket/2.3.3/stomp.min.js}"></script>
<script th:src="@{/js/sidebar-track.js}"></script>
<script th:src="@{/webjars/js-cookie/js.cookie.js}"></script>
<script th:src="@{/js/devtools.js}"></script>
<script th:src="@{/js/constants.js}"></script>
<script th:src="@{/webjars/toastify-js/src/toastify.js}"></script>
<script th:src="@{/js/utils.js}"></script>
<script th:src="@{/js/toast-custom.js}"></script>
<script th:src="@{/js/custom-toggle-theme/setting-demo.js}"></script>
<script th:src="@{/js/user-info-handler.js}"></script>
</body>
</html>