<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/plugins/css/kaiadmin.min.css}">
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.min.css}">
    <link rel="stylesheet" th:href="@{/css/global.css}">
    <link rel="stylesheet" th:href="@{/webjars/toastify-js/src/toastify.css}">
    <link rel="stylesheet" th:href="@{/css/custom-toggle-theme/demo.css}">
    <link rel="icon" th:href="@{/assets/image/favicon.ico}" type="image/x-icon">
    <title>HO - Quản lý bộ môn - cơ sở</title>
</head>
<body>
<div class="wrapper">
    <div th:insert="~{fragment/sidebar/sidebar-head-office :: sidebar-head-office}"></div>
    <div class="main-panel">
        <div class="main-header">
            <div th:insert="~{fragment/header/common-header :: common-header}"></div>
        </div>
        <div class="container">
            <div class="bg-white p-4 m-4 shadow rounded min-vh-100">
                <div class="p-4">
                    <h2>Quản lý bộ môn:
                        <span id="showCurrentDepartmentNameScreen"></span>
                    </h2>
                </div>
                <div class="p-4">
                    <!-- Filter -->
                    <div class="shadow p-4 mb-4 bg-white rounded">
                        <form id="filterForm">
                            <div class="row">
                                <div class="col form-group">
                                    <label for="departmentFacilityName">Tên cơ sở</label>
                                    <input type="text" id="departmentFacilityName" class="form-control">
                                </div>
                            </div>
                            <div class="text-center">
                                <button id="buttonFilter" type="button" class="btn btn-black">Tìm kiếm</button>
                                <button
                                        type="reset"
                                        class="btn"
                                        id="resetFilter"
                                        style="background-color: var(--common-button-color); color: white;"
                                >
                                    Xóa bộ lọc
                                </button>
                            </div>
                        </form>
                    </div>
                    <!-- Filter -->
                    <div class="shadow p-4 bg-white rounded">
                        <div class="d-flex justify-content-between mt-4">
                            <h4>Danh sách bộ môn theo cơ sở</h4>
                            <button
                                    class="btn btn-black"
                                    data-bs-toggle="modal"
                                    onclick="openModalAddOrUpdateDepartmentFacility(0)"
                            >
                                Thêm Bộ Môn Theo Cơ Sở
                            </button>
                        </div>
                        <div class="table-responsive mt-4">
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <td>#</td>
                                    <td>Tên cơ sở</td>
                                    <td>Tên chủ nhiệm bộ môn</td>
                                    <td
                                            style="width: 1px; text-wrap: nowrap; padding: 0 10px;">Hành động
                                    </td>
                                </tr>
                                </thead>
                                <tbody id="departmentFacilityTableBody" class="table-group-divider">
                                <tr>
                                    <td colspan="6" class="text-center">Không có dữ liệu</td>
                                </tr>
                                </tbody>
                            </table>
                            <div class="d-flex justify-content-end align-items-center gap-3">
                                <div class="d-flex align-items-center">
                                    <nav>
                                        <ul class="pagination" id="pagination">
                                        </ul>
                                    </nav>
                                </div>
                                <select class="form-select" id="pageSize" style="width: 100px;">
                                    <option value="5">5 bản ghi / Trang</option>
                                    <option value="10">10 bản ghi / Trang</option>
                                    <option value="20">20 bản ghi / Trang</option>
                                    <option value="50">50 bản ghi / Trang</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal Modify Department Facility -->
    <div class="modal fade" id="departmentFacilityModal" tabindex="-1" aria-labelledby="addDepartmentFacilityModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">
                        <span id="departmentFacilityModalLabel">Thêm bộ môn theo cơ sở cho bộ môn:</span>
                        <span id="showCurrentDepartmentNameModal"></span>
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="modifyFacilityId" class="form-label">Chọn cơ sở</label>
                        <select class="form-select" id="modifyFacilityId" required>
                            <option value="">--Cơ sở--</option>
                        </select>
                        <div class="invalid-feedback" id="facilityIdError"></div>
                    </div>
                    <div class="mb-3">
                        <label for="modifyHeadOfDepartmentId" class="form-label">Chọn chủ nhiệm bộ môn</label>
                        <select class="form-select" id="modifyHeadOfDepartmentId" required>
                            <option value="">--Chủ nhiệm bộ môn--</option>
                        </select>
                        <div class="invalid-feedback" id="headOfDepartmentIdError"></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn" data-bs-dismiss="modal"
                            style="background-color: var(--common-button-color); color: white;">Đóng
                    </button>
                    <button type="button" class="btn btn-black" id="modifyDepartmentFacilityButton">Thêm</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal Modify Department Facility -->
    <!-- Modal List Major Facility -->
    <div class="modal fade" id="modalListMajorFacility" tabindex="-1" aria-labelledby="listMajorFacilityModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5
                            class="modal-title fw-bold"
                            id="listMajorFacilityModalLabel"
                    >
                        Danh sách chuyên ngành theo cơ sở
                    </h5>
                    <button
                            type="button"
                            class="btn-close"
                            aria-label="Close"
                            onclick="handleCloseModalListMajorFacility()"
                    ></button>
                </div>
                <div class="modal-body">
                    <!-- Filter Major Facility -->
                    <div class="shadow p-4 mb-4 bg-white rounded">
                        <h5 class="mb-4">Bộ lọc</h5>
                        <form id="filterMajorFacilityForm">
                            <div class="row">
                                <div class="col form-group">
                                    <label for="majorFacilityNameFilter" class="form-label">Tên chuyên ngành</label>
                                    <input type="text" id="majorFacilityNameFilter" class="form-control"
                                           placeholder="Nhập tên chuyên ngành"/>
                                </div>
                                <div class="col form-group">
                                    <label for="majorFacilityHeadOfMajorCodeFilter" class="form-label">Mã Trưởng
                                        môn</label>
                                    <input type="text" id="majorFacilityHeadOfMajorCodeFilter" class="form-control"
                                           placeholder="Nhập mã trưởng môn"/>
                                </div>
                                <div class="col form-group">
                                    <label for="majorFacilityHeadOfMajorNameFilter" class="form-label">Tên Trưởng
                                        môn</label>
                                    <input type="text" id="majorFacilityHeadOfMajorNameFilter" class="form-control"
                                           placeholder="Nhập tên trưởng môn"/>
                                </div>
                            </div>
                            <div class="text-center mt-3">
                                <button id="buttonFilterMajorFacility" type="button" class="btn btn-black"
                                        onclick="handleFilterMajorFacility()"
                                >
                                    Tìm kiếm
                                </button>
                                <button type="reset" class="btn" id="resetFilterMajorFacility"
                                        style="background-color: var(--common-button-color); color: white;"
                                        onclick="handleResetFilterMajorFacility()"
                                >
                                    Xóa bộ lọc
                                </button>
                            </div>
                        </form>
                    </div>
                    <!-- Filter Major Facility -->

                    <div class="shadow p-4 bg-white rounded">
                        <div class="d-flex justify-content-between mt-4 mb-4">
                            <h4 id="majorFacilityListTitle">Danh sách chuyên ngành theo cơ sở</h4>
                            <button
                                    class="btn btn-black"
                                    data-bs-toggle="modal"
                                    onclick="handleOpenModalAddMajorFacility()"
                            >
                                Thêm Chuyên Ngành Theo Cơ Sở
                            </button>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <td>#</td>
                                    <td>Tên chuyên ngành</td>
                                    <td>Thông tin trưởng môn</td>
                                    <td style="width: 1px; text-wrap: nowrap; padding: 0 10px;">Hành động</td>
                                </tr>
                                </thead>
                                <tbody id="majorFacilityTableBody" class="table-group-divider">
                                <tr>
                                    <td colspan="6" class="text-center">Không có dữ liệu</td>
                                </tr>
                                </tbody>
                            </table>
                            <div class="d-flex justify-content-end align-items-center gap-3">
                                <div class="d-flex align-items-center">
                                    <nav>
                                        <ul class="pagination" id="pagination-major-facilities">
                                        </ul>
                                    </nav>
                                </div>
                                <select class="form-select" id="page-size-major-facilities" style="width: 100px;">
                                    <option value="5">5 bản ghi / Trang</option>
                                    <option value="10">10 bản ghi / Trang</option>
                                    <option value="20">20 bản ghi / Trang</option>
                                    <option value="50">50 bản ghi / Trang</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal List Major Facility -->
    <!-- Modal Add / Update Major Facility -->
    <div
            class="modal fade"
            id="modalAddOrUpdateMajorFacility"
            tabindex="-1"
            aria-labelledby="addOrUpdateMajorFacilityModalLabel"
            aria-hidden="true"
    >
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5
                            class="modal-title fw-bold"
                            id="addOrUpdateMajorFacilityModalLabel"
                    >
                        Thêm chuyên ngành theo cơ sở
                    </h5>
                    <button
                            type="button"
                            class="btn-close"
                            aria-label="Close"
                            onclick="handleCloseModalAddMajorFacility()"
                    ></button>
                </div>
                <div class="modal-body p-4">
                    <input type="hidden" id="modifyMajorFacilityId"/>
                    <div class="mb-3">
                        <label for="modifyMajorId" class="form-label">Chuyên ngành</label>
                        <select class="form-select" id="modifyMajorId" required>
                            <option value="">--Chuyên ngành--</option>
                        </select>
                        <div class="invalid-feedback" id="majorIdError"></div>
                    </div>
                    <div class="mb-3">
                        <label for="modifyHeadMajorId" class="form-label">Trưởng môn</label>
                        <select class="form-select" id="modifyHeadMajorId" required>
                            <option value="">--Trưởng môn--</option>
                        </select>
                        <div class="invalid-feedback" id="headMajorIdError"></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button
                            type="button"
                            class="btn"
                            data-bs-dismiss="modal"
                            style="background-color: var(--common-button-color); color: white;"
                    >
                        Đóng
                    </button>
                    <button type="button" class="btn btn-black" id="addOrUpdateMajorFacilityButton"
                            onclick="handleAddOrUpdateMajorFacility()"
                    >
                        Thêm
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal Add / Update Major Facility -->
    <div th:insert="~{fragment/custom-toggle-theme/toggle-theme :: toggle-theme}"></div>
</div>
<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/plugins/js/jquery-scrollbar/jquery.scrollbar.min.js}"></script>
<script th:src="@{/plugins/js/jquery.sparkline/jquery.sparkline.min.js}"></script>
<script th:src="@{/plugins/js/kaiadmin/kaiadmin.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/js/sidebar-track.js}"></script>
<script th:src="@{/webjars/js-cookie/js.cookie.js}"></script>
<script th:src="@{/js/constants.js}"></script>
<script th:src="@{/webjars/toastify-js/src/toastify.js}"></script>
<script th:src="@{/js/utils.js}"></script>
<script th:src="@{/js/toast-custom.js}"></script>
<script th:src="@{/plugins/js/sweetalert/sweetalert.min.js}"></script>
<script th:src="@{/js/custom-toggle-theme/setting-demo.js}"></script>
<script th:src="@{/js/user-info-handler.js}"></script>
<script th:src="@{/js/head-office/manage-department/departmentfacility/departmentfacility.js}"></script>
</body>
</html>