*{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    color: rgba(0, 0, 0, 0.88);
}

.tag{
    box-sizing: border-box;
    border: 1px solid;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    font-size: 12px;
    height: auto;
    border-radius: 4px;
    margin: 0;
    list-style: none;
    white-space: nowrap;
    padding-inline: 3px;
    text-align: start;
    display:  inline-block;
    margin-inline-end: 8px;
    transition: 0.2s;
    position: relative;
}

.tag.tag-success{
    color: #389e0d;
    background-color: #f6ffed;
    border-color: #b7eb8f;
}

.tag.tag-primary{
    color: #0958d9;
    background-color: #e6f4ff;
    border-color: #91caff;
}

.tag.tag-danger{
    color: #cf1322;
    background-color: #fff1f0;
    border-color: #ffa39e;
}

.tag.tag-warning{
    color: #d46b08;
    background-color: #fff7e6;
    border-color: #ffd591;
}

.tag.tag-secondary{
    color: rgba(0, 0, 0, 0.88);
    background-color: #fafafa;
    border-color: #d9d9d9;
}

.tag.tag-purple{
    color: #531dab;
    background-color: #f9f0ff;
    border-color: #d3adf7;
}


.custom-input {
    padding: 10px;
    font-size: 16px;
    border: 2px solid #0958d9;
    border-radius: 5px;
    background-color: #f9f9f9;
    color: #333;
    width: 100%;
    box-sizing: border-box;
}
.flatpickr-calendar {
    border: 1px solid #0958d9;
    border-radius: 5px;
}
.flatpickr-day.today {
    background-color: #91caff;
    color: white;
}
.flatpickr-day.selected {
    background-color: #91caff;
    color: white;
}
.no-caret::after {
    display: none !important;
}

.fancybox__container * {
    color: whitesmoke;
}

.content-container {
    max-height: 500px;
    overflow-x: auto;
    overflow-y: auto;
    white-space: nowrap;
    scrollbar-color:goldenrod #f1f1f1;
    scrollbar-width: thin;
}

.td-text-danger > td,
.td-text-danger > th,
.td-text-danger .bi-pencil-square{
    color: #cf1322;
}

.f-btn {
    background-color: #262324;
    border-radius: 50px;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1;
    padding: 1rem 1.3rem;
    color: #fff;
    border: none !important;
    transition: 0.2s;
}
.f-btn:hover {
    background-color: #ffca2c;
    color: #444;
}
.f-btn:hover i{
    color: #444;
}
.f-btn + .f-btn {
    margin-left: .5rem;
}
.f-btn i {
    color: #fff;
}
.form-label {
    margin-bottom: 1rem;
    font-weight: 700;
}
.m-portlet {
    border-radius: 8px;
}

.table th {
    position: relative;
    background: #fafafa;
    padding: 1rem;
    font-weight: 700;
    white-space: nowrap;
}
.table th + th::before {
    position: absolute;
    top: 50%;
    left: 0;
    inset-inline-end: 0;
    width: 1px;
    height: 1.6em;
    background-color: #f0f0f0;
    transform: translateY(-50%);
    transition: background-color 0.2s;
    content: "";
}
.table tr > td {
    padding: 20px 16px;
    white-space: nowrap;
}
.table tr:hover > td {
    background: #fafafa;
}

.btn-icon {
    color: #6a6a6a;
    outline: none;
    border: 0;
    background: transparent;
}
.btn-icon i {
    font-size: 1.3rem;
}
.btn-icon i.active,
.btn-icon i:hover {
    color: #ffc107;
}
.btn-back {
    color: gray;
    margin-left: auto;
}
.btn-back i {
    font-size: 1.4rem;
}


.table-responsive::-webkit-scrollbar-thumb:hover {
    opacity: 0.8;
}
.form-control {
    height: 2.8rem;
    outline: none;
    box-shadow: none;
    margin-bottom: 1rem;
}
.form-control:focus,
.ct-form-select:focus {
    box-shadow: none;
}
.ct-form-select
.daterangepicker .ranges {
    padding: 0;
}
.daterangepicker .calendar-time {
    padding-left: 0;
}
.daterangepicker .drp-calendar.left {
    padding: 10px;
}
.daterangepicker tbody td.today {
    background: #ffffff;
    color: #575962;
}
.daterangepicker tbody td.today:before {
    border-bottom-color: #2196F3;
    border-top-color: rgba(0, 0, 0, 0.2);
}
.daterangepicker .drp-buttons .btn {
    padding: 10px 8px;
    border-radius: 5px;
}
.daterangepicker .drp-buttons .btn-default {
    color: #000;
    font-weight: normal;
}
.daterangepicker .drp-buttons .btn-primary {
    background: #2196F3;
    color: #fff;
}
.daterangepicker .drp-buttons .btn:hover {
    opacity: .8;
}
.daterangepicker tbody td.in-range, .daterangepicker tbody td.active {
    background: #2196F3;
    color: #fff;
}
.daterangepicker tbody td.in-range:hover, .daterangepicker tbody td.active:hover {
    background: #2196F3;
    color: #fff;
}

.scroll-container {
    overflow-x: auto;
    overflow-y: hidden;
    padding-bottom: 40px;
}
.scroll-container .all-scroll {
    overflow-y: auto;
    padding-right: 40px;
}
.scroll-container::-webkit-scrollbar,
.table-responsive::-webkit-scrollbar {
    cursor: pointer;
    -webkit-appearance: none;
    width: 10px;
    height: 10px;
}
.scroll-container::-webkit-scrollbar-track,
.table-responsive::-webkit-scrollbar-track {
    border-radius: 10px;
    background: rgba(110, 110, 110, 0.2);
}
.scroll-container::-webkit-scrollbar-thumb,
.table-responsive::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: rgba(166, 174, 205, 0.4);
    opacity: 0.5;
    -webkit-transition: color 0.2s ease;
    transition: color 0.2s ease;
}


.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
}
.pagination .page-item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    color: #575962;
    user-select: none;
}
.pagination .page-item.active {
    border: 1px solid #2196F3;
    pointer-events: none;
}
.pagination .page-item.disabled {
    opacity: .2;
    pointer-events: none;
}
.pagination .page-item:not(.active):hover {
    background: rgb(0 0 0 / 6%);
}
.pagination .page-item + .page-item {
    margin-left: 10px;
}
