<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/plugins/css/kaiadmin.min.css}">
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.min.css}">
    <link rel="stylesheet" th:href="@{/css/global.css}">
    <link rel="stylesheet" th:href="@{/webjars/toastify-js/src/toastify.css}">
    <link rel="icon" th:href="@{/assets/image/favicon.ico}" type="image/x-icon">
    <link rel="stylesheet" th:href="@{/css/custom-toggle-theme/demo.css}">
    <title>HO - Quản lý môn học</title>
</head>
<body>
<div class="wrapper">
    <div th:insert="~{fragment/sidebar/sidebar-head-office :: sidebar-head-office}"></div>
    <div class="main-panel">
        <div class="main-header">
            <div th:insert="~{fragment/header/common-header :: common-header}"></div>
        </div>
        <div class="container">
            <div class="bg-white p-4 m-4 shadow rounded min-vh-100">
                <div class="p-4">
                    <h2>Quản lý môn học</h2>
                </div>
                <div class="p-4">
                    <!-- Filter -->
                    <div class="shadow p-4 mb-4 bg-white rounded">
                        <h3 class="m-portlet__head-text">
                            <i class="fa-solid fa-filter"></i> Bộ lọc
                        </h3>
                        <form id="filterForm">
                            <div class="row">
                                <div class="col form-group">
                                    <label for="subjectCode">Mã môn học</label>
                                    <input type="text" id="subjectCode" name="subjectCode" class="form-control"
                                           placeholder="Nhập mã môn học"
                                    >
                                </div>
                                <div class="col form-group">
                                    <label for="subjectName">Tên môn học</label>
                                    <input type="text" id="subjectName" name="subjectName" class="form-control"
                                           placeholder="Nhập tên môn học"
                                    >
                                </div>
                                <div class="col form-group">
                                    <label for="departmentId">Bộ môn</label>
                                    <select id="departmentId" name="departmentId" class="form-select"
                                            style="height: 60%;">
                                        <option value="">Chọn bộ môn</option>
                                    </select>
                                </div>
                                <div class="col form-group">
                                    <label for="subjectType">Loại môn học</label>
                                    <select id="subjectType" style="height: 60%;" name="subjectType" class="form-select">
                                        <option value="">Chọn loại môn học</option>
                                        <option value="TRADITIONAL">Traditional</option>
                                        <option value="ONLINE">Online</option>
                                        <option value="BLEND">Blend</option>
                                        <option value="TRUC_TUYEN">Trực tuyến</option>
                                    </select>
                                </div>
                                <div class="col form-group">
                                    <label for="startDate">Ngày bắt đầu</label>
                                    <input type="date" id="startDate" name="startDate" class="form-control">
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- Filter -->
                    <!-- Table -->
                    <div class="shadow p-4 bg-white rounded">
                        <div class="d-flex justify-content-between mt-4">
                            <h4>Danh sách môn học</h4>
                            <button
                                    class="btn"
                                    data-bs-toggle="modal"
                                    onclick="openModalAddSubject()"
                                    style="background-color: var(--common-button-color); color: white;"
                            >
                                Thêm Môn Học
                            </button>
                        </div>
                        <div class="table-responsive mt-4">
                            <table class="ant-table">
                                <thead>
                                <tr>
                                    <td>STT</td>
                                    <td>Mã môn học</td>
                                    <td>Tên môn học</td>
                                    <td>Bộ môn</td>
                                    <td>Loại môn học</td>
                                    <td>Ngày bắt đầu</td>
                                    <td
                                            style="width: 1px; text-wrap: nowrap; padding: 0 10px;">Hành động
                                    </td>
                                </tr>
                                </thead>
                                <tbody id="subjectTableBody" class="table-group-divider">
                                <tr>
                                    <td colspan="6" class="text-center">Không có dữ liệu</td>
                                </tr>
                                </tbody>
                            </table>
                            <div class="d-flex justify-content-end align-items-center gap-3">
                                <div class="d-flex align-items-center">
                                    <nav>
                                        <ul class="pagination" id="pagination">
                                        </ul>
                                    </nav>
                                </div>
                                <select class="form-select" id="pageSize" style="width: 100px;">
                                    <option value="5">5 bản ghi / Trang</option>
                                    <option value="10">10 bản ghi / Trang</option>
                                    <option value="20">20 bản ghi / Trang</option>
                                    <option value="50">50 bản ghi / Trang</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <!-- Table -->
                </div>
            </div>
        </div>
    </div>
    <!-- Modal Modify Subject -->
    <div class="modal fade" id="subjectModal" tabindex="-1" aria-labelledby="addSubjectModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="subjectModalLabel">Thêm môn học</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="addSubjectForm">
                        <input type="hidden" id="subjectId">
                        <div class="mb-3">
                            <label for="modifySubjectCode" class="form-label">Mã môn học</label>
                            <input
                                    type="text"
                                    class="form-control"
                                    id="modifySubjectCode"
                                    required
                                    placeholder="Nhập mã môn học (VD: IT001)"
                            >
                            <div class="invalid-feedback" id="subjectCodeError"></div>
                        </div>
                        <div class="mb-3">
                            <label for="modifySubjectName" class="form-label">Tên môn học</label>
                            <input
                                    type="text"
                                    class="form-control"
                                    id="modifySubjectName"
                                    required
                                    placeholder="Nhập tên môn học (VD: Lập trình Java)"
                            >
                            <div class="invalid-feedback" id="subjectNameError"></div>
                        </div>
                        <div class="mb-3">
                            <label for="modifyDepartmentId" class="form-label">Bộ môn</label>
                            <select class="form-select" id="modifyDepartmentId" required>
                                <option value="">---Chọn bộ môn---</option>
                            </select>
                            <div class="invalid-feedback" id="departmentIdError"></div>
                        </div>
                        <div class="mb-3">
                            <label for="modifySubjectType" class="form-label">Hình thức môn</label>
                            <select class="form-select" id="modifySubjectType" required>
                                <option value="">Chọn hình thức môn học</option>
                                <option value="TRADITIONAL">Traditional</option>
                                <option value="ONLINE">Online</option>
                                <option value="BLEND">Blend</option>
                                <option value="TRUC_TUYEN">Trực tuyến</option>
                            </select>
                            <div class="invalid-feedback" id="subjectTypeError"></div>
                        </div>
                        <div class="mb-3">
                            <label for="modifyStartDate" class="form-label">Ngày bắt đầu</label>
                            <input type="date" class="form-control" id="modifyStartDate" required>
                            <div class="invalid-feedback" id="startDateError"></div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn" data-bs-dismiss="modal"
                            style="background-color: var(--common-button-color); color: white;">Đóng
                    </button>
                    <button type="button" class="btn"
                            style="background-color: var(--common-button-color); color: white;"
                            id="modifySubjectButton">Lưu
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal Modify Subject -->
    <div th:insert="~{fragment/custom-toggle-theme/toggle-theme :: toggle-theme}"></div>
    <!-- Loading   -->
    <div th:insert="~{fragment/loading/loading :: loading}"></div>
</div>
<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/plugins/js/jquery-scrollbar/jquery.scrollbar.min.js}"></script>
<script th:src="@{/plugins/js/jquery.sparkline/jquery.sparkline.min.js}"></script>
<script th:src="@{/plugins/js/kaiadmin/kaiadmin.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/js/sidebar-track.js}"></script>
<script th:src="@{/webjars/js-cookie/js.cookie.js}"></script>
<script th:src="@{/js/constants.js}"></script>
<script th:src="@{/webjars/toastify-js/src/toastify.js}"></script>
<script th:src="@{/js/utils.js}"></script>
<script th:src="@{/js/toast-custom.js}"></script>
<script th:src="@{/js/custom-toggle-theme/setting-demo.js}"></script>
<script th:src="@{/js/user-info-handler.js}"></script>
<script th:src="@{/plugins/js/sweetalert/sweetalert.min.js}"></script>
<script th:src="@{/js/head-office/manage-subject/subject.js}"></script>
</body>
</html>