<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/plugins/css/kaiadmin.min.css}">
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.min.css}">
    <link rel="stylesheet" th:href="@{/css/global.css}">
    <link rel="stylesheet" th:href="@{/webjars/toastify-js/src/toastify.css}">
    <link rel="stylesheet" th:href="@{/css/custom-toggle-theme/demo.css}">
    <link rel="icon" th:href="@{/assets/image/favicon.ico}" type="image/x-icon">
    <title>Teacher - Trang chủ</title>
</head>
<body>
<div class="wrapper">
    <div th:insert="~{fragment/sidebar/sidebar-teacher :: sidebar-teacher}"></div>
    <div class="main-panel">
        <div class="main-header">
            <div th:insert="~{fragment/header/common-header :: common-header}"></div>
        </div>
        <div class="container">
            <div class="bg-white p-4 m-4 shadow rounded">
                <section class="">
                    <div class="px-4 py-5 px-md-5 text-center text-lg-start" style="background-color: hsl(0, 0%, 97%)">
                        <div class="container">
                            <div class="row gx-lg-5 align-items-center">
                                <div class="col-lg-6 mb-5 mb-lg-0 text-center">
                                    <img src="../../assets/image/BeeSuperHeroLogo.png" class="w-100">
                                </div>
                                <div class="col-lg-6 mb-5 mb-lg-0">
                                    <div class="card">
                                        <div class="card-body py-5 px-md-5">
                                            <form>
                                                <img src="../../assets/image/Logo_FPT.png" class="mx-auto d-block">
                                                <div class="mb-3">
                                                    <label for="modifyExamShiftCodeJoin" class="form-label">Mã phòng
                                                        thi</label>
                                                    <input type="text" class="form-control" id="modifyExamShiftCodeJoin"
                                                           required>
                                                    <div class="invalid-feedback" id="examShiftCodeJoinError"></div>
                                                </div>
                                                <div class="mb-3">
                                                    <label for="modifyPasswordJoin" class="form-label">Mật khẩu phòng
                                                        thi</label>
                                                    <input type="password" class="form-control" id="modifyPasswordJoin"
                                                           required>
                                                    <div class="invalid-feedback" id="passwordJoinError"></div>
                                                </div>

                                                <div class="d-flex justify-content-center align-items-center mt-5">
                                                    <button class="btn"
                                                            type="button"
                                                            style="background-color: var(--common-button-color); color: white;"
                                                            id="modifyExamShiftJoinButton">
                                                        Tham gia phòng
                                                    </button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>

    <!-- The toggle theme button -->
    <div th:insert="~{fragment/custom-toggle-theme/toggle-theme :: toggle-theme}"></div>
</div>
<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/plugins/js/jquery-scrollbar/jquery.scrollbar.min.js}"></script>
<script th:src="@{/plugins/js/jquery.sparkline/jquery.sparkline.min.js}"></script>
<script th:src="@{/plugins/js/kaiadmin/kaiadmin.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/webjars/sockjs-client/1.5.1/sockjs.min.js}"></script>
<script th:src="@{/webjars/stomp-websocket/2.3.3/stomp.min.js}"></script>
<script th:src="@{/js/sidebar-track.js}"></script>
<script th:src="@{/webjars/js-cookie/js.cookie.js}"></script>
<script th:src="@{/js/constants.js}"></script>
<script th:src="@{/webjars/toastify-js/src/toastify.js}"></script>
<script th:src="@{/js/utils.js}"></script>
<script th:src="@{/js/toast-custom.js}"></script>
<script th:src="@{/js/custom-toggle-theme/setting-demo.js}"></script>
<script th:src="@{/js/user-info-handler.js}"></script>
<script th:src="@{/js/teacher/manage-exam-shift/exam-shift.js}"></script>
</body>
</html>