<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/plugins/css/kaiadmin.min.css}">
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.min.css}">
    <link rel="stylesheet" th:href="@{/css/global.css}">
    <link rel="stylesheet" th:href="@{/webjars/toastify-js/src/toastify.css}">
    <link rel="stylesheet" th:href="@{/css/custom-toggle-theme/demo.css}">
    <link rel="icon" th:href="@{/assets/image/favicon.ico}" type="image/x-icon">
    <title>HO - Quản lý cơ sở</title>
</head>
<body>
<div class="wrapper">
    <div th:insert="~{fragment/sidebar/sidebar-head-office :: sidebar-head-office}"></div>
    <div class="main-panel">
        <div class="main-header">
            <div th:insert="~{fragment/header/common-header :: common-header}"></div>
        </div>
        <div class="container">
            <div class="bg-white p-4 m-4 shadow rounded min-vh-100">
                <div class="p-4">
                    <h2>Quản lý cơ sở</h2>
                </div>
                <div class="p-4">
                    <!-- Filter -->
                    <div class="shadow p-4 mb-4 bg-white rounded">
                        <h3 class="m-portlet__head-text">
                            <i class="fa-solid fa-filter"></i> Bộ lọc
                        </h3>
                        <form id="filterForm">
                            <div class="row">
                                <div class="col form-group">
                                    <label for="facilityName">Tên cơ sở</label>
                                    <input type="text" id="facilityName" name="facilityName" class="form-control">
                                </div>
                                <div class="col form-group">
                                    <label for="facilityStatus">Trạng thái</label>
                                    <select id="facilityStatus" name="facilityStatus" class="form-select"
                                            style="height: 60%;">
                                        <option value="">Chọn Trạng thái</option>
                                        <option value="1">Hoạt động</option>
                                        <option value="0">Dừng hoạt động</option>
                                    </select>
                                </div>
                            </div>
                            <div class="text-center">
                                <button type="submit" class="btn btn-secondary">Tìm kiếm</button>
                                <button
                                        type="reset"
                                        class="btn"
                                        id="resetFilter"
                                        style="background-color: var(--common-button-color); color: white;"
                                >
                                    Xóa bộ lọc
                                </button>
                            </div>
                        </form>
                    </div>
                    <!-- Filter -->
                    <div class="shadow p-4 bg-white rounded">
                        <div class="d-flex justify-content-between mt-4">
                            <h4>Danh sách cơ sở</h4>
                            <button
                                    class="btn btn-secondary"
                                    data-bs-toggle="modal"
                                    onclick="openModalAdd()"
                            >
                                Thêm cơ sở
                            </button>
                        </div>
                        <div class="table-responsive mt-4">
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <td>STT</td>
                                    <td>Tên cở sở</td>
                                    <td>Trạng thái</td>
                                    <td style="width: 1px; text-wrap: nowrap; padding: 0 10px;">Hành động
                                    </td>
                                </tr>
                                </thead>
                                <tbody id="facilityTableBody" class="table-group-divider">
                                <tr>
                                    <td colspan="6" class="text-center">Không có dữ liệu</td>
                                </tr>
                                </tbody>
                            </table>
                            <div class="d-flex justify-content-end align-items-center gap-3">
                                <div class="d-flex align-items-center">
                                    <nav>
                                        <ul class="pagination" id="pagination">
                                        </ul>
                                    </nav>
                                </div>
                                <select class="form-select" id="pageSize" style="width: 100px;">
                                    <option value="5">5 bản ghi / Trang</option>
                                    <option value="10">10 bản ghi / Trang</option>
                                    <option value="20">20 bản ghi / Trang</option>
                                    <option value="50">50 bản ghi / Trang</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal Modify Facility -->
    <div class="modal fade" id="facilityModal" tabindex="-1" aria-labelledby="addFacilityLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="facilityModalLabel">Thêm cơ sở</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="addFacilityForm">
                        <input type="hidden" id="facilityId">
                        <div class="mb-3">
                            <label for="modifyFacilityName" class="form-label">Tên cơ sở</label>
                            <input type="text" class="form-control" id="modifyFacilityName" required>
                            <div class="invalid-feedback" id="facilityNameError"></div>
                        </div>
                    </form>
                    <div id="fieldUpdate">
                        <div>
                            <button class="btn btn-secondary" onclick="openModalAdd()">Thêm sơ sở con</button>
                        </div>
                        <div class="table-responsive mt-4">
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <td>STT</td>
                                    <td>Tên cở sở con</td>
                                    <td>Trạng thái</td>
                                    <td style="width: 1px; text-wrap: nowrap; padding: 0 10px;">Hành động
                                    </td>
                                </tr>
                                </thead>
                                <tbody id="facilityChildTableBody" class="table-group-divider">
                                <tr>
                                    <td colspan="6" class="text-center">Không có dữ liệu</td>
                                </tr>
                                </tbody>
                            </table>
                            <div class="d-flex justify-content-end align-items-center gap-3">
                                <div class="d-flex align-items-center">
                                    <nav>
                                        <ul class="pagination" id="paginationChild">
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn" data-bs-dismiss="modal"
                            style="background-color: var(--common-button-color); color: white;">Đóng
                    </button>
                    <button type="button" class="btn btn-secondary" id="facilityButton">Lưu</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal Modify Facility -->
    <!-- Modal Modify Facility child-->
    <div class="modal fade" id="facilityChildModal" tabindex="-1" aria-labelledby="addFacilityChildLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="facilityChildModalLabel">Thêm cơ sở con</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="addFacilityChildForm">
                        <input type="hidden" id="facilityChildId">
                        <div class="mb-3">
                            <label for="modifyFacilityChildName" class="form-label">Tên cơ sở con</label>
                            <input type="text" class="form-control" id="modifyFacilityChildName" required>
                            <div class="invalid-feedback" id="facilityChildNameError"></div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn" data-bs-dismiss="modal"
                            style="background-color: var(--common-button-color); color: white;">Đóng
                    </button>
                    <button type="button" class="btn btn-secondary" id="facilityChildButton">Lưu</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal Modify FacilityChild-->
    <!-- Modal Modify Subject -->
    <div th:insert="~{fragment/custom-toggle-theme/toggle-theme :: toggle-theme}"></div>
</div>
<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/plugins/js/jquery-scrollbar/jquery.scrollbar.min.js}"></script>
<script th:src="@{/plugins/js/jquery.sparkline/jquery.sparkline.min.js}"></script>
<script th:src="@{/plugins/js/kaiadmin/kaiadmin.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/js/sidebar-track.js}"></script>
<script th:src="@{/js/constants.js}"></script>
<script th:src="@{/webjars/toastify-js/src/toastify.js}"></script>
<script th:src="@{/js/utils.js}"></script>
<script th:src="@{/js/toast-custom.js}"></script>
<script th:src="@{/plugins/js/sweetalert/sweetalert.min.js}"></script>
<script th:src="@{/js/custom-toggle-theme/setting-demo.js}"></script>
<script th:src="@{/js/manage-facility/facility.js}"></script>
</body>
</html>