.background-permission {
    height: 100vh;
    position: relative;
    width: 100%;
}

.background-permission:before {
    content: "";
    background-image: url(../../assets/image/bg-simple.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-filter: blur(1px);
    filter: blur(1px);
    height: 100%;
    left: 0;
    opacity: .8;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}

.image-permission {
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}
.image-permission:hover img{
    transition: transform 0.3s ease 0s;
    transform: scale(1.1);
}