canvas {
    display: block;
    margin: 0 auto;
}

#pdf-viewer {
    border: 1px solid #999;
    width: 100%;
    height: 1000px;
    overflow: auto;
    border-radius: 10px;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

#pdf-viewer::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
}

#overlay {
    background-color: rgba(255, 0, 0, 0.3);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
}

/*@keyframes flash {*/
/*    0% { opacity: 1; }*/
/*    50% { opacity: 0; }*/
/*    100% { opacity: 1; }*/
/*}*/

/*.overlay {*/
/*    animation: flash 1s infinite;*/
/*}*/