<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Forbidden | FCR FPT Polytechnic</title>
    <link rel="shortcut icon" href="https://ap.poly.edu.vn/images/favicon.ico"/>
    <link th:href="@{/css/custom/error/error.css}" rel="stylesheet" type="text/css"/>
</head>
<body>
<div class="content-error">
    <div class="logo">
        <img width="20%" th:src="@{/assets/images/logo.png}" alt="Logo"/>
        <img width="20%" th:src="@{/assets/images/logo-udpm1.png}" alt="Logo"/>
    </div>
    <h1>403!</h1>
    <h2>Forbidden</h2>
    <a href="https://authentication.udpm-hn.com/">Đăng nhập lại</a>
</div>
</body>
</html>