<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Quản lý trưởng môn</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/plugins/css/kaiadmin.min.css}">
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.min.css}">
    <link rel="stylesheet" th:href="@{/css/global.css}">
    <link rel="stylesheet" th:href="@{/webjars/toastify-js/src/toastify.css}">
    <link rel="stylesheet" th:href="@{/css/custom-toggle-theme/demo.css}">
    <link rel="stylesheet" th:href="@{/webjars/select2/css/select2.css}">
    <link rel="stylesheet" th:href="@{/css/common/tag.css}">
    <link rel="icon" th:href="@{/assets/image/favicon.ico}" type="image/x-icon">
</head>
<body>
<div class="wrapper">
    <div th:insert="~{fragment/sidebar/sidebar-head-department:: sidebar-head-of-department}"></div>
    <!-- Main Panel -->
    <div class="main-panel">
        <div class="main-header">
            <div th:insert="~{fragment/header/common-header :: common-header}"></div>
        </div>
        <div class="container">
            <div class="bg-white p-4 m-4 shadow rounded min-vh-100">
                <div class="p-4">
                    <h2>Quản lý trưởng môn</h2>
                </div>
                <div class="p-4">
                    <!-- Filter -->
                    <div class="shadow p-4 bg-white rounded mb-4">
                        <h4><i class="fa-solid fa-filter"></i> Bộ lọc</h4>
                        <div class="row mt-4 mb-4">
                            <div class="col">
                                <div class="form-group">
                                    <label for="searchHeadSubjects">Tìm kiếm</label>
                                    <input type="text" class="form-control" id="searchHeadSubjects"
                                           placeholder="Nhập mã nhân viên hoặc tên nhân viên">
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label for="searchSemester">Học kỳ</label>
                                    <select class="form-select" id="searchSemester">
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Filter -->
                    <!-- Table -->
                    <div class="shadow p-4 bg-white rounded">
                        <div class="d-flex justify-content-between align-items-center">
                            <h4><i class="fa-solid fa-list"></i> Danh sách trưởng môn</h4>
                            <button class="btn btn-black d-none" id="syncHeadSubjects">
                                <i class="fa-solid fa-sync"></i> Đồng bộ dữ liệu từ học kỳ trước
                            </button>
                        </div>
                        <div class="table-responsive mt-4">
                            <table class="ant-table">
                                <thead>
                                <tr>
                                    <td>STT</td>
                                    <td>Mã nhân viên</td>
                                    <td>Tên nhân viên</td>
                                    <td>Email FPT</td>
                                    <td>Email FE</td>
                                    <td>Phân công</td>
                                    <td class="text-center text-nowrap">Số lượng môn đang phụ trách</td>
                                    <td
                                            style="width: 1px; text-wrap: nowrap; padding: 0 10px;">Hành động
                                    </td>
                                </tr>
                                </thead>
                                <tbody id="manageHeadSubjectsTableBody" class="table-group-divider">
                                <tr>
                                    <td colspan="8" class="text-center">Không có dữ liệu</td>
                                </tr>
                                </tbody>
                            </table>
                            <div class="d-flex justify-content-end align-items-center gap-3">
                                <div class="d-flex align-items-center">
                                    <nav>
                                        <ul class="pagination" id="paginationHeadSubjects">
                                        </ul>
                                    </nav>
                                </div>
                                <select class="form-select" id="pageSizeHeadSubjects"
                                        style="width: 100px;">
                                    <option value="5">5 bản ghi / Trang</option>
                                    <option value="10">10 bản ghi / Trang</option>
                                    <option value="20">20 bản ghi / Trang</option>
                                    <option value="50">50 bản ghi / Trang</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <!-- Table -->
                </div>
            </div>
        </div>
    </div>
    <!-- Main Panel -->
    <!-- Modal Show Subject to Assign   -->
    <div class="modal fade" id="modalShowSubjectToAssign" tabindex="-1"
         aria-labelledby="modalShowSubjectToAssignLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalShowSubjectToAssignLabel">Danh sách môn học</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="shadow p-4 bg-white rounded mb-4">
                        <h4><i class="fa-solid fa-filter"></i> Bộ lọc</h4>
                        <div class="row mt-4 mb-4">
                            <div class="col">
                                <div class="form-group">
                                    <label for="searchSubjectToAssign">Tìm kiếm</label>
                                    <input type="text" class="form-control" id="searchSubjectToAssign"
                                           placeholder="Nhập mã môn học hoặc tên môn học">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="ant-table">
                            <thead>
                            <tr>
                                <td>STT</td>
                                <td>Mã môn học</td>
                                <td>Tên môn học</td>
                                <td>Loại môn học</td>
                                <td class="text-center">Phân công</td>
                            </tr>
                            </thead>
                            <tbody id="showSubjectToAssignTableBody" class="table-group-divider">
                            <tr>
                                <td colspan="5" class="text-center">Không có dữ liệu</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="d-flex justify-content-end align-items-center gap-3">
                        <div class="d-flex align-items-center">
                            <nav>
                                <ul class="pagination" id="paginationShowSubjectToAssign">
                                </ul>
                            </nav>
                        </div>
                        <select class="form-select" id="pageSizeShowSubjectToAssign"
                                style="width: 100px;">
                            <option value="5">5 bản ghi / Trang</option>
                            <option value="10">10 bản ghi / Trang</option>
                            <option value="20">20 bản ghi / Trang</option>
                            <option value="50">50 bản ghi / Trang</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal Show Subject By Head Subject   -->
    <div class="modal fade" id="modalShowSubjectByHeadSubject" tabindex="-1"
         aria-labelledby="modalShowSubjectByHeadSubjectLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalShowSubjectByHeadSubjectLabel">Danh sách môn học</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="d-flex align-items-center w-100">
                        <select
                                class="form-select me-2"
                                id="selectNewHeadSubject"
                        >
                        </select>
                        <button
                                class="btn btn-black ms-2 text-nowrap"
                                id="btnAssignNewHeadSubject"
                        >
                            Phân công
                        </button>
                    </div>
                    <div class="table-responsive">
                        <table class="ant-table">
                            <thead>
                            <tr>
                                <td>STT</td>
                                <td>Mã môn học</td>
                                <td>Tên môn học</td>
                                <td>Loại môn học</td>
                            </tr>
                            </thead>
                            <tbody id="showSubjectByHeadSubjectTableBody" class="table-group-divider">
                            <tr>
                                <td colspan="4" class="text-center">Không có dữ liệu</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="d-flex justify-content-end align-items-center gap-3">
                        <div class="d-flex align-items-center">
                            <nav>
                                <ul class="pagination" id="paginationShowSubjectByHeadSubject">
                                </ul>
                            </nav>
                        </div>
                        <select class="form-select" id="pageSizeShowSubjectByHeadSubject"
                                style="width: 100px;">
                            <option value="5">5 bản ghi / Trang</option>
                            <option value="10">10 bản ghi / Trang</option>
                            <option value="20">20 bản ghi / Trang</option>
                            <option value="50">50 bản ghi / Trang</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal Show Subject By Head Subject   -->
</div>
<div th:switch="${isDevelopment}">
    <div th:case="true">
        <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
        <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
        <script th:src="@{/plugins/js/jquery-scrollbar/jquery.scrollbar.min.js}"></script>
        <script th:src="@{/plugins/js/jquery.sparkline/jquery.sparkline.min.js}"></script>
        <script th:src="@{/webjars/select2/js/select2.full.js}"></script>
        <script th:src="@{/plugins/js/kaiadmin/kaiadmin.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
        <script th:src="@{/js/sidebar-track.js}"></script>
        <script th:src="@{/webjars/js-cookie/js.cookie.js}"></script>
        <script th:src="@{/js/constants.js}"></script>
        <script th:src="@{/webjars/toastify-js/src/toastify.js}"></script>
        <script th:src="@{/js/utils.js}"></script>
        <script th:src="@{/js/toast-custom.js}"></script>
        <script th:src="@{/plugins/js/sweetalert/sweetalert.min.js}"></script>
        <script th:src="@{/js/custom-toggle-theme/setting-demo.js}"></script>
        <script th:src="@{/js/user-info-handler.js}"></script>
        <script th:src="@{/js/swal-custom.js}"></script>
        <script th:src="@{/js/head-department/manage-head-of-subjects/manage-head-of-subjects.js}"></script>
    </div>
    <div th:case="false">
        <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
        <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
        <script th:src="@{/plugins/js/jquery-scrollbar/jquery.scrollbar.min.js}"></script>
        <script th:src="@{/plugins/js/jquery.sparkline/jquery.sparkline.min.js}"></script>
        <script th:src="@{/webjars/select2/js/select2.full.js}"></script>
        <script th:src="@{/plugins/js/kaiadmin/kaiadmin.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
        <script th:src="@{/js/minified/sidebar-track.js}"></script>
        <script th:src="@{/webjars/js-cookie/js.cookie.js}"></script>
        <script th:src="@{/js/minified/constants.js}"></script>
        <script th:src="@{/webjars/toastify-js/src/toastify.js}"></script>
        <script th:src="@{/js/minified/utils.js}"></script>
        <script th:src="@{/js/minified/toast-custom.js}"></script>
        <script th:src="@{/plugins/js/sweetalert/sweetalert.min.js}"></script>
        <script th:src="@{/js/minified/custom-toggle-theme/setting-demo.js}"></script>
        <script th:src="@{/js/minified/user-info-handler.js}"></script>
        <script th:src="@{/js/minified/swal-custom.js}"></script>
        <script th:src="@{/js/minified/manage-head-of-subjects.js}"></script>
    </div>
</div>
</body>
</html>