<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/plugins/css/kaiadmin.min.css}">
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.min.css}">
    <link rel="stylesheet" th:href="@{/css/global.css}">
    <link rel="stylesheet" th:href="@{/webjars/toastify-js/src/toastify.css}">
    <link rel="stylesheet" th:href="@{/css/custom-toggle-theme/demo.css}">
    <link rel="stylesheet" th:href="@{/css/head-subject/exam-approval/exam-approval.css}">
    <link rel="stylesheet" th:href="@{/css/common/tag.css}">
    <link rel="icon" th:href="@{/assets/image/favicon.ico}" type="image/x-icon">
    <title>Quản lý trưởng môn - Phê duyệt đề thi</title>
</head>
<body>
<div class="wrapper">
    <div th:insert="~{fragment/sidebar/sidebar-head-subject :: sidebar-head-subject}"></div>
    <div class="main-panel">
        <div class="main-header">
            <div th:insert="~{fragment/header/common-header :: common-header}"></div>
        </div>
        <div class="container">
            <div class="bg-white m-4 shadow rounded min-vh-100">
                <div class="p-4">
                    <h2>Phê duyệt đề thi</h2>
                </div>
                <div class="p-4">
                    <!-- Filter -->
                    <div class="shadow p-4 mb-4 bg-white rounded">
                        <h3 class="m-portlet__head-text">
                            <i class="fa-solid fa-filter"></i> Bộ lọc
                        </h3>
                        <form id="filterForm">
                            <div class="row">
                                <div class="col form-group">
                                    <label for="staff-upload-find">Giảng viên upload</label>
                                    <input type="text" id="staff-upload-find" class="form-control">
                                </div>
                                <div class="col form-group">
                                    <label for="subject-find">Môn học</label>
                                    <select class="form-select" id="subject-find" style="height: 60%;" required>
                                        <option value="">-- Chọn môn học --</option>
                                    </select>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- Filter -->
                    <div class="shadow p-4 bg-white rounded">
                        <div class="mt-4">
                            <h4>Danh sách đề cần phê duyệt</h4>
                        </div>
                        <div class="table-responsive mt-4">
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <td>STT</td>
                                    <td>Mã đề</td>
                                    <td>Môn học</td>
                                    <td>Giảng viên upload</td>
                                    <td>Ngày upload</td>
                                    <td
                                            style="width: 1px; text-wrap: nowrap; padding: 0 10px;">Hành động
                                    </td>
                                </tr>
                                </thead>
                                <tbody id="examPaperTableBody" class="table-group-divider">
                                <tr>
                                    <td colspan="6" class="text-center">Không có dữ liệu</td>
                                </tr>
                                </tbody>
                            </table>
                            <div class="d-flex justify-content-between align-items-center gap-3">
                                <div>
                                    <h4 class="float-start">
                                        <i class="text-danger font-weight-bold">*** Chú ý:
                                            Đề sau 7 ngày không được phê duyệt sẽ tự động xóa ***</i>
                                    </h4>
                                </div>
                                <div class="d-flex justify-content-end align-items-center gap-3">
                                    <div class="d-flex align-items-center">
                                        <nav>
                                            <ul class="pagination" id="pagination">
                                            </ul>
                                        </nav>
                                    </div>
                                    <select class="form-select" id="pageSize" style="width: 100px;">
                                        <option value="5">5 bản ghi / Trang</option>
                                        <option value="10">10 bản ghi / Trang</option>
                                        <option value="20">20 bản ghi / Trang</option>
                                        <option value="50">50 bản ghi / Trang</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal Detail Exam Paper -->
        <div class="modal modal-xl fade" id="detailExamApprovalModal" tabindex="-1"
             aria-labelledby="detailExamRuleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Chi tiết đề</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div id="pdf-viewer-detail" hidden>
                            <canvas id="pdf-canvas-detail"></canvas>
                        </div>
                        <div id="paging-pdf-detail" class="mt-3" hidden>
                            <button class="btn btn-black" id="prev-page-detail">Previous</button>
                            <button class="btn btn-black" id="next-page-detail">Next</button>
                            <p>Page: <span id="page-num-detail"></span> / <span id="total-page-detail"></span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal Detail Exam Paper -->
        <!-- Modal Approval Exam Paper-->
        <div class="modal modal-xl fade" id="modal-exam-peper-approval" tabindex="-1"
             aria-labelledby="examFileModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Phê duyệt đề thi</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="mb-3">
                            <label for="exam-paper-type" class="form-label">
                                <span class="text-danger"> * </span> Phân loại đề </label>
                            <select class="form-select" style="height: 60%;" id="exam-paper-type" required>
                                <option value="">-- Chọn loại đề --</option>
                                <option value="OFFICIAL_EXAM_PAPER"> Đề thi thật </option>
                                <option value="MOCK_EXAM_PAPER"> Đề thi thử </option>
                            </select>
                            <div class="text-danger" id="exam-paper-type-error"></div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">(<span class="text-danger"> * </span>) Biểu thị trường không được
                                trống!</label>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn" data-bs-dismiss="modal"
                                style="background-color: var(--common-button-color); color: white;">Đóng
                        </button>
                        <button type="button" class="btn btn-black" id="btn-exam-approval">Phê duyệt</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal Approval Exam Paper-->
    </div>
    <div th:insert="~{fragment/custom-toggle-theme/toggle-theme :: toggle-theme}"></div>
</div>

<div th:switch="${isDevelopment}">
    <div th:case="true">
        <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
        <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
        <script th:src="@{/plugins/js/jquery-scrollbar/jquery.scrollbar.min.js}"></script>
        <script th:src="@{/plugins/js/jquery.sparkline/jquery.sparkline.min.js}"></script>
        <script th:src="@{/plugins/js/kaiadmin/kaiadmin.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
        <script th:src="@{/js/sidebar-track.js}"></script>
        <script th:src="@{/webjars/js-cookie/js.cookie.js}"></script>
        <script th:src="@{/js/constants.js}"></script>
        <script th:src="@{/webjars/toastify-js/src/toastify.js}"></script>
        <script th:src="@{/js/utils.js}"></script>
        <script th:src="@{/js/toast-custom.js}"></script>
        <script th:src="@{/plugins/js/sweetalert/sweetalert.min.js}"></script>
        <script th:src="@{/js/custom-toggle-theme/setting-demo.js}"></script>
        <script th:src="@{/js/user-info-handler.js}"></script>
        <script th:src="@{/js/loading.js}"></script>
        <script th:src="@{/webjars/pdf-js/2.10.377/build/pdf.js}"></script>
        <script th:src="@{/js/head-subject/exam-approval/exam-approval.js}"></script>
        <script th:src="@{/js/head-subject/exam-approval/exam-approval-detail.js}"></script>
        <script th:src="@{/js/head-subject/exam-approval/exam-approval-update.js}"></script>
    </div>
    <div th:case="false">
        <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
        <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
        <script th:src="@{/plugins/js/jquery-scrollbar/jquery.scrollbar.min.js}"></script>
        <script th:src="@{/plugins/js/jquery.sparkline/jquery.sparkline.min.js}"></script>
        <script th:src="@{/plugins/js/kaiadmin/kaiadmin.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
        <script th:src="@{/js/minified/sidebar-track.js}"></script>
        <script th:src="@{/webjars/js-cookie/js.cookie.js}"></script>
        <script th:src="@{/js/minified/constants.js}"></script>
        <script th:src="@{/webjars/toastify-js/src/toastify.js}"></script>
        <script th:src="@{/js/minified/utils.js}"></script>
        <script th:src="@{/js/minified/toast-custom.js}"></script>
        <script th:src="@{/plugins/js/sweetalert/sweetalert.min.js}"></script>
        <script th:src="@{/js/minified/custom-toggle-theme/setting-demo.js}"></script>
        <script th:src="@{/js/minified/user-info-handler.js}"></script>
        <script th:src="@{/js/minified/loading.js}"></script>
        <script th:src="@{/webjars/pdf-js/2.10.377/build/pdf.js}"></script>
        <script th:src="@{/js/minified/head-subject/exam-approval/exam-approval.js}"></script>
        <script th:src="@{/js/minified/head-subject/exam-approval/exam-approval-detail.js}"></script>
        <script th:src="@{/js/minified/head-subject/exam-approval/exam-approval-update.js}"></script>
    </div>
</div>
</body>
</html>