<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/plugins/css/kaiadmin.min.css}">
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.min.css}">
    <link rel="stylesheet" th:href="@{/css/global.css}">
    <link rel="stylesheet" th:href="@{/webjars/toastify-js/src/toastify.css}">
    <link rel="stylesheet" th:href="@{/css/authentication/main.css}">
    <link rel="icon" th:href="@{/assets/image/favicon.ico}" type="image/x-icon">
    <title>Đăng nhập</title>
</head>
<body>
<div class="wrapper">
    <div class="background-login">
        <div class="d-flex align-items-center justify-content-between h-100" style="padding-bottom: 100px">
            <div class="w-100">
                <div class="py-5">
                    <img th:src="@{/assets/image/Logo_FPT.png}" alt="logo" class="h-auto" style="max-width: 200px;">
                    <img th:src="@{/assets/image/logo-udpm-dark.png}" alt="logo" class="h-auto" style="max-width: 200px;">
                </div>
                <button type="button" class="btn btn-black shadow" style="font-size: 1.1rem">
                    <img th:src="@{/assets/image/google.png}" alt="logo" style="width: 15px">
                    <span style="margin-left: 5px">Đăng nhập với Google</span>
                </button>
            </div>
        </div>
        <div class="footer-login">
            <div class="d-flex align-items-center justify-content-between py-3" style="z-index: 1000; font-size: 1.3rem;">
                <div class="w-100">
                    <span style="font-size: 20px">Powered by</span>
                    <span style="font-family: Nunito; font-weight: bold; font-size: 23px; margin: 0 5px">FPLHN-UDPM</span>
                    <img th:src="@{/assets/image/logo-udpm-dark.png}" alt="logo" class="w-100 h-auto" style="max-width: 100px;">
                </div>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/plugins/js/jquery-scrollbar/jquery.scrollbar.min.js}"></script>
<script th:src="@{/plugins/js/jquery.sparkline/jquery.sparkline.min.js}"></script>
<script th:src="@{/plugins/js/kaiadmin/kaiadmin.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/js/constants.js}"></script>
<script th:src="@{/webjars/toastify-js/src/toastify.js}"></script>
<script th:src="@{/js/toast-custom.js}"></script>
<script th:src="@{/js/custom-toggle-theme/setting-demo.js}"></script>
</body>
</html>