<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/plugins/css/kaiadmin.min.css}">
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.min.css}">
    <link rel="stylesheet" th:href="@{/css/global.css}">
    <link rel="stylesheet" th:href="@{/webjars/toastify-js/src/toastify.css}">
    <link rel="stylesheet" th:href="@{/css/custom-toggle-theme/demo.css}">
    <link rel="stylesheet" th:href="@{/css/teacher/manage-exam-file/exam-file.css}">
    <link rel="icon" th:href="@{/assets/image/favicon.ico}" type="image/x-icon">
    <title>Teacher - Tải đề thi</title>
</head>
<body>
<div class="wrapper">
    <div th:insert="~{fragment/sidebar/sidebar-teacher :: sidebar-teacher}"></div>
    <div class="main-panel">
        <div class="main-header">
            <div th:insert="~{fragment/header/common-header :: common-header}"></div>
        </div>
        <div class="container">
            <div class="bg-white p-4 m-4 shadow rounded min-vh-100">
                <div class="p-4">
                    <h2>Tải đề thi</h2>
                </div>
                <div class="p-4">
                    <!-- Filter -->
                    <div class="shadow p-4 mb-4 bg-white rounded">
                        <form id="filterForm">
                            <div class="row">
                                <div class="col form-group">
                                    <label for="subjectCode">Mã môn học</label>
                                    <input type="text" id="subjectCode" class="form-control">
                                </div>
                                <div class="col form-group">
                                    <label for="subjectName">Tên môn học</label>
                                    <input type="text" id="subjectName" class="form-control">
                                </div>
                            </div>
                            <div class="text-center">
                                <button onclick="handleSearchSubject()" id="buttonFilter" type="button"
                                        class="btn btn-secondary">Tìm kiếm
                                </button>
                                <button
                                        onclick="handleClearSearch()"
                                        type="reset"
                                        class="btn"
                                        id="resetFilter"
                                        style="background-color: var(--common-button-color); color: white;"
                                >
                                    Xóa bộ lọc
                                </button>
                            </div>
                        </form>
                    </div>
                    <!-- Filter -->
                    <div class="shadow p-4 bg-white rounded">
                        <div class="mt-4">
                            <h4>Danh sách môn học</h4>
                        </div>
                        <div class="table-responsive mt-4">
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <td>STT</td>
                                    <td>Mã môn học</td>
                                    <td>Tên môn học</td>
                                    <td>Bộ môn</td>
                                    <td>Loại môn học</td>
                                    <td
                                            style="width: 1px; text-wrap: nowrap; padding: 0 10px;">Hành động
                                    </td>
                                </tr>
                                </thead>
                                <tbody id="subjectTableBody" class="table-group-divider">
                                <tr>
                                    <td colspan="6" class="text-center">Không có dữ liệu</td>
                                </tr>
                                </tbody>
                            </table>
                            <div class="d-flex justify-content-end align-items-center gap-3">
                                <div class="d-flex align-items-center">
                                    <nav>
                                        <ul class="pagination" id="pagination">
                                        </ul>
                                    </nav>
                                </div>
                                <select class="form-select" id="pageSize" style="width: 100px;">
                                    <option value="5">5 bản ghi / Trang</option>
                                    <option value="10">10 bản ghi / Trang</option>
                                    <option value="20">20 bản ghi / Trang</option>
                                    <option value="50">50 bản ghi / Trang</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal Upload Exam File -->
    <div class="modal modal-xl fade" id="examFileModal" tabindex="-1" aria-labelledby="examFileModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Tải đề thi</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label class="form-label">
                            <span class="text-danger"> * </span> Loại đề </label>
                        <select class="form-select" id="exam-paper-type" required>
                            <option value="">-- Chọn loại đề --</option>
                            <option value="MOCK_EXAM_PAPER">Đề thi thử</option>
                            <option value="OFFICIAL_EXAM_PAPER">Đề thi thật</option>
                        </select>
                        <div class="text-danger" id="exam-paper-type-error"></div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">
                            <span class="text-danger"> * </span> Chuyên ngành - cơ sở </label>
                        <select class="form-select" id="major-facility" required>
                            <option value="">-- Chuyên ngành - cơ sở --</option>
                        </select>
                        <div class="text-danger" id="major-facility-error"></div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">
                            <span class="text-danger"> * </span> Đề thi </label>
                        <div>
                            <button class="btn btn-secondary" onclick="handleOpenChooseFilePdf()">
                                <i class="fas fa-file-excel"></i> Chọn đề thi
                            </button>
                            <input type="file" id="file-pdf-input" hidden/>
                        </div>
                    </div>
                    <div class="mt-4">
                        <div id="pdf-viewer" hidden>
                            <canvas id="pdf-canvas"></canvas>
                        </div>
                        <div id="paging-pdf" hidden class="mt-3">
                            <button class="btn btn-secondary" id="prev-page">Previous</button>
                            <button class="btn btn-secondary" id="next-page">Next</button>
                            <p>Page: <span id="page-num"></span> / <span id="total-page"></span></p>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">(<span class="text-danger"> * </span>) Biểu thị trường không được
                            trống!</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="text-center d-flex justify-content-end gap-3">
                        <button type="button" id="btn-upload-exam-file" onclick="handleUploadExamRule()"
                                class="btn btn-secondary">Tải đề lên
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal Upload Exam File -->

    <!-- Modal Upload Exam File -->
    <div class="modal modal-xl fade" id="detailExamFileModal" tabindex="-1" aria-labelledby="detailExamFileModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Tải đề thi</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div id="pdf-viewer-detail" hidden>
                        <canvas id="pdf-canvas-detail"></canvas>
                    </div>
                    <div id="paging-pdf-detail" class="mt-3" hidden>
                        <button class="btn btn-secondary" id="prev-page-detail">Previous</button>
                        <button class="btn btn-secondary" id="next-page-detail">Next</button>
                        <p>Page: <span id="page-num-detail"></span> / <span id="total-page-detail"></span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal Upload Exam File -->
    <div th:insert="~{fragment/custom-toggle-theme/toggle-theme :: toggle-theme}"></div>
</div>
<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/plugins/js/jquery-scrollbar/jquery.scrollbar.min.js}"></script>
<script th:src="@{/plugins/js/jquery.sparkline/jquery.sparkline.min.js}"></script>
<script th:src="@{/plugins/js/kaiadmin/kaiadmin.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/js/sidebar-track.js}"></script>
<script th:src="@{/webjars/js-cookie/js.cookie.js}"></script>
<script th:src="@{/js/constants.js}"></script>
<script th:src="@{/webjars/toastify-js/src/toastify.js}"></script>
<script th:src="@{/js/utils.js}"></script>
<script th:src="@{/js/toast-custom.js}"></script>
<script th:src="@{/plugins/js/sweetalert/sweetalert.min.js}"></script>
<script th:src="@{/js/custom-toggle-theme/setting-demo.js}"></script>
<script th:src="@{/js/user-info-handler.js}"></script>
<script th:src="@{/js/loading.js}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.10.377/pdf.min.js"></script>
<script th:src="@{/js/manage-exam-file/exam-file.js}"></script>
<script th:src="@{/js/manage-exam-file/detail-exam-file.js}"></script>
<script th:src="@{/js/manage-exam-file/upload-exam-file.js}"></script>
</body>
</html>