<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/plugins/css/kaiadmin.min.css}">
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.min.css}">
    <link rel="stylesheet" th:href="@{/css/global.css}">
    <link rel="stylesheet" th:href="@{/webjars/toastify-js/src/toastify.css}">
    <link rel="stylesheet" th:href="@{/css/custom-toggle-theme/demo.css}">
    <link rel="stylesheet" th:href="@{/css/teacher/manage-exam-file/exam-file.css}">
    <link rel="icon" th:href="@{/assets/image/favicon.ico}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css"/>
    <title>Teacher - Tải đề thi</title>
</head>
<body>
<div class="wrapper">
    <div th:insert="~{fragment/sidebar/sidebar-teacher :: sidebar-teacher}"></div>
    <div class="main-panel">
        <div class="main-header">
            <div th:insert="~{fragment/header/common-header :: common-header}"></div>
        </div>
        <div class="container">
            <div class="bg-white p-4 m-4 shadow rounded min-vh-100">
                <div class="p-4">
                    <h2>Tải đề thi</h2>
                </div>
                <div class="p-4">
                    <!-- Infomation  -->
                    <div class="shadow p-4 mb-4 bg-white rounded">
                        <h3 class="m-portlet__head-text">
                            <i class="fas fa-info-circle"></i> Thông tin môn học
                        </h3>
                        <div>
                            <div class="row">
                                <div class="col form-group">
                                    <label for="subjectCode">Mã môn</label>
                                    <span id="subjectCode" name="subjectCode"
                                          class="form-control text-black border border-secondary text-truncate"></span>
                                </div>
                                <div class="col form-group">
                                    <label for="subjectName">Tên môn</label>
                                    <span id="subjectName" name="subjectName"
                                          class="form-control text-black border border-secondary text-truncate"></span>
                                </div>
                                <div class="col form-group">
                                    <label for="subjectDepartment">Bộ môn</label>
                                    <span id="subjectDepartment" name="subjectDepartment"
                                          class="form-control text-black border border-secondary text-truncate"></span>
                                </div>
                                <div class="col form-group">
                                    <label for="subjectType">Loại môn</label>
                                    <span id="subjectType" name="subjectType"
                                          class="form-control text-black border border-secondary text-truncate"></span>
                                </div>
                                <div class="col form-group">
                                    <label for="subjectUploaded">Đã upload</label>
                                    <span id="subjectUploaded" name="subjectUploaded"
                                          class="form-control text-black border border-secondary text-truncate"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Filter -->
                    <div class="shadow p-4 mb-4 bg-white rounded">
                        <h3 class="m-portlet__head-text">
                            <i class="fa-solid fa-filter"></i> Bộ lọc
                        </h3>
                        <form id="filterFormMockExam">
                            <div class="row">
                                <div class="col form-group">
                                    <label for="staff-upload-find">Mã đề/Giảng viên upload</label>
                                    <input type="text" id="staff-upload-find"
                                           class="form-control"
                                           placeholder="Nhập từ khóa tìm kiếm(Mã đề / Giảng viên upload)"
                                           style="height: 60%;">
                                </div>
                                <div class="col form-group">
                                    <label for="startEndDate">Ngày upload</label>
                                    <input type="text" class="form-control" id="startEndDate"
                                           placeholder="Start date ⇀ End date" style="height: 60%;">
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- Filter -->
                    <div class="d-flex justify-content-end mb-1">
                        <div>
                            <button type="button" class="btn-custom   mt-4 position-relative" id="btnAll">
                                Tất cả
                                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
                                      id="sumAll">
                                        <span class="visually-hidden"></span>
                                </span>
                            </button>
                            <button type="button" class="btn-custom   mt-4 position-relative ms-1"
                                    id="btnWaitingApproval">
                                Chờ phê duyệt
                                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
                                      id="sumWaitingApproval">
                                        <span class="visually-hidden"></span>
                                </span>
                            </button>
                            <button type="button" class="btn-custom   mt-4 position-relative ms-1" id="btnInUse">
                                Đã phê duyệt
                                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
                                      id="sumInUse">
                                        <span class="visually-hidden"></span>
                                </span>
                            </button>
                            <button type="button" class="btn-custom   mt-4 position-relative ms-1" id="btnRejected">
                                Bị từ chối
                                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
                                      id="sumRejected">
                                      <span class="visually-hidden"></span>
                                </span>
                            </button>
                        </div>
                    </div>
                    <div class="shadow p-4 bg-white rounded">
                        <div class="d-flex justify-content-between mt-4">
                            <div class="mt-4">
                                <h4>Danh sách đề thi</h4>
                            </div>
                            <div class="d-flex gap-3">
                                <button type="button"
                                        style="height: min-content"
                                        class="btn btn-black"
                                        onclick="handleOpenModalExamFile()"
                                >
                                    Upload đề
                                </button>
                            </div>
                        </div>
                        <div class="table-responsive mt-4">
                            <table class="table table-bordered">
                                <thead id="examTableHead">
                                <tr>
                                    <td>STT</td>
                                    <td>Mã đề</td>
                                    <td>Trạng thái</td>
                                    <td>Giảng viên upload</td>
                                    <td>Ngày upload</td>
                                    <td
                                            style="width: 1px; text-wrap: nowrap; padding: 0 10px;">Hành động
                                    </td>
                                </tr>
                                </thead>
                                <tbody id="examTableBody" class="table-group-divider">
                                <tr>
                                    <td colspan="6" class="text-center">Không có dữ liệu</td>
                                </tr>
                                </tbody>
                            </table>
                            <div class="d-flex justify-content-between align-items-center gap-3">
                                <div>
                                    <h4 class="float-start">
                                        <i class="text-danger font-weight-bold">*** Chú ý:
                                            Đề bị từ chối sẽ tự động bị xóa sau 7 ngày ***</i>
                                    </h4>
                                </div>
                                <div class="d-flex justify-content-end align-items-center gap-3">
                                    <div class="d-flex align-items-center">
                                        <nav>
                                            <ul class="pagination" id="pagination">
                                            </ul>
                                        </nav>
                                    </div>
                                    <select class="form-select" id="pageSize" style="width: 100px;">
                                        <option value="5">5 bản ghi / Trang</option>
                                        <option value="10">10 bản ghi / Trang</option>
                                        <option value="20">20 bản ghi / Trang</option>
                                        <option value="50">50 bản ghi / Trang</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal Upload Exam File -->
    <div class="modal modal-xl fade" id="examFileModal" tabindex="-1" aria-labelledby="examFileModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Tải đề thi</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label class="form-label">
                            <span class="text-danger"> * </span> Đề thi </label>
                        <div>
                            <button class="btn btn-black" onclick="handleOpenChooseFilePdf()">
                                <i class="fas fa-file-excel"></i> Chọn đề thi
                            </button>
                            <!--                            <input type="file" id="file-pdf-input" hidden accept="application/msword,text/plain,.doc, .docx, .xls, .xlsx,-->
                            <!--                            .csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel, application/vnd.ms-powerpoint,application/pdf"/>-->
                            <input type="file" id="file-pdf-input" hidden accept="application/pdf"/>
                        </div>
                    </div>
                    <div class="mt-4">
                        <div id="pdf-viewer" hidden>
                            <canvas id="pdf-canvas"></canvas>
                        </div>
                        <div id="paging-pdf" hidden class="mt-3">
                            <button class="btn btn-black" id="prev-page">Previous</button>
                            <button class="btn btn-black" id="next-page">Next</button>
                            <p>Page: <span id="page-num"></span> / <span id="total-page"></span></p>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">(<span class="text-danger"> * </span>) Biểu thị trường không được
                            trống!</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="text-center d-flex justify-content-end gap-3">
                        <button type="button" id="btn-upload-exam-file" onclick="handleUploadExamFile()"
                                class="btn btn-black">Tải đề lên
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal Upload Exam File -->

    <!-- Modal Detail Exam Paper -->
    <div class="modal modal-xl fade" id="detailSampleExamModal" tabindex="-1"
         aria-labelledby="detailExamRuleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Chi tiết đề thi</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div id="pdf-viewer-detail" hidden>
                        <canvas id="pdf-canvas-detail"></canvas>
                    </div>
                    <div id="paging-pdf-detail" class="mt-3" hidden>
                        <button class="btn btn-primary" id="prev-page-detail">Previous</button>
                        <button class="btn btn-primary" id="next-page-detail">Next</button>
                        <p>Page: <span id="page-num-detail"></span> / <span id="total-page-detail"></span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal Detail Exam Paper -->
    <div th:insert="~{fragment/custom-toggle-theme/toggle-theme :: toggle-theme}"></div>
</div>
<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/plugins/js/jquery-scrollbar/jquery.scrollbar.min.js}"></script>
<script th:src="@{/plugins/js/jquery.sparkline/jquery.sparkline.min.js}"></script>
<script th:src="@{/plugins/js/kaiadmin/kaiadmin.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/js/sidebar-track.js}"></script>
<script th:src="@{/webjars/js-cookie/js.cookie.js}"></script>
<script th:src="@{/js/constants.js}"></script>
<script th:src="@{/webjars/toastify-js/src/toastify.js}"></script>
<script th:src="@{/js/utils.js}"></script>
<script th:src="@{/js/toast-custom.js}"></script>
<script th:src="@{/plugins/js/sweetalert/sweetalert.min.js}"></script>
<script th:src="@{/js/custom-toggle-theme/setting-demo.js}"></script>
<script th:src="@{/js/user-info-handler.js}"></script>
<script th:src="@{/js/loading.js}"></script>
<script th:src="@{/webjars/pdf-js/2.10.377/build/pdf.js}"></script>
<!--datepicker -->
<script th:src="@{/webjars/momentjs/min/moment.min.js}"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<script th:src="@{/js/teacher/manage-exam-file/detail-sample-exam.js}"></script>
<script th:src="@{/js/teacher/manage-exam-file/upload-exam-file.js}"></script>
</body>
</html>